In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dog_data_short.csv')

In [4]:
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [5]:
#seeing data with row
df.loc[0, :]                                                           #wanna see 0th row complete data

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [8]:
df.loc[[0,1,2],:]                                                      #seeing 0th, 1st, 2nd row complete data
# better way to execute
df.loc[0:2, :]

           Breed        Color  DogName  OwnerZip
0       COCKAPOO        BROWN  CHARLEY     15236
1   GER SHEPHERD  BLACK/BROWN   TACODA     15238
2  BELG MALINOIS      BRINDLE     EICH     15238

In [9]:
#seeing data with column now
df.loc[:, 'Breed']

0               COCKAPOO
1           GER SHEPHERD
2          BELG MALINOIS
3                  MIXED
4    AM PIT BULL TERRIER
Name: Breed, dtype: object

In [10]:
df.loc[:, ['Breed','Color','DogName']]                                #if u want multiple columns u have to pass list of columns

                 Breed        Color  DogName
0             COCKAPOO        BROWN  CHARLEY
1         GER SHEPHERD  BLACK/BROWN   TACODA
2        BELG MALINOIS      BRINDLE     EICH
3                MIXED  BLACK/BROWN    ARROW
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY

In [12]:
#better way to execute
df.loc[:, 'Breed':'DogName']

                 Breed        Color  DogName
0             COCKAPOO        BROWN  CHARLEY
1         GER SHEPHERD  BLACK/BROWN   TACODA
2        BELG MALINOIS      BRINDLE     EICH
3                MIXED  BLACK/BROWN    ARROW
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY

In [13]:
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [14]:
df[df.Color == 'BROWN']                                                   #one way of achieving same thing

      Breed  Color  DogName  OwnerZip
0  COCKAPOO  BROWN  CHARLEY     15236

In [15]:
#same thing with another way
df.loc[df.Color== 'BROWN', :]                                             #more flexibility now u can specify columns also

      Breed  Color  DogName  OwnerZip
0  COCKAPOO  BROWN  CHARLEY     15236

In [16]:
df.loc[df.Color== 'BROWN', ['Breed','Color','DogName']]                   #example

      Breed  Color  DogName
0  COCKAPOO  BROWN  CHARLEY

In [17]:
#df.iloc means integer specific 
df.iloc[:, 0:2]

                 Breed        Color
0             COCKAPOO        BROWN
1         GER SHEPHERD  BLACK/BROWN
2        BELG MALINOIS      BRINDLE
3                MIXED  BLACK/BROWN
4  AM PIT BULL TERRIER  WHITE/BROWN

In [21]:
# df.ix[]                   another way of examining the things it is 
df.ix[:]

AttributeError: 'DataFrame' object has no attribute 'ix'